html
{
    color: black;
}

body
{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;    
}
@font-face{
  font-family: "Raleway",sans-serif;
  font-weight:400;
}
section h1, section h2, section h3, footer h3 {
  
  font-weight:bolder;
}
header, section {
  margin: 0 15px 0 15px;
}
a:hover
{
    color: #0065FC;
}

/* header */
header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}





/* logo */

.logo 
{  
  height: 40px;
}

.ancres {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065FC
}
.both {
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  margin-left: 2rem;
  border-top: solid 2.5px blue;
  
}
.login {
  display: flex;
  align-items: center;
  color: #0065FC;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
  margin-left: 2rem;
}
/*         1st section       */
     /* search */
.searching {
  margin-top: 50px;
}
h1.title {
    font-size: 22px;
}

.search {
  display: flex;
  margin-top: 50px;

}
label {
  background-color: #F2F2F2;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  padding: 20px;
}
.map {
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  padding: 18px;
}
.textsearch {
  border: 1.5px solid #f2f2f2;
  padding: 0 1rem;
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  font-size: 17px;
 
}
.logosearch {
  background-color: blue;
  color: white;
  border: 0;
  margin-right: 10px;
  border-radius: 0px 15px 15px 0px;
  width: 120px;

}
     /* filters */

.filters {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: 14px;
}
.titlef{
  display: flex;
  width: 68px;
  margin: 1rem 0.4rem 1.7rem 0;
  align-items: center;
  font-size: 20px;
  margin-top: 20px  
}
.item {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding: 0 3px 0 0;
  padding-right: 20px;
  height: 45px;
  margin: 10px 20px 13px 0;
  font-size: 18px;
}
.item:hover {
    background: #0065FC;
    color: #fff;
    cursor: pointer;
}
.icone {
    background-color: #DEEBFF;
    color: blue;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: flex;
    padding: 16px;
}
.filtre{
   margin: 0.1rem;
}
/* information */
.info{
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.logoinfo {
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    margin-right: 11px;
    font-size: 18px;
    padding: 4px;
}
/* .......  2nd section Hebergement à Marseille ...... */
.principal {
    margin-top: 50px;
}
.principal p {
    font-size: 14px;
}
h3 {
    font-size: 16px
}
.principal .container {
    display: flex;
    justify-content: space-around;
}
.first {
    background: #f2f2f2;
    padding: 0px;
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 0;
}


.titre {
    padding: 10px;
    margin-bottom: 0px
}
.photos {
    display: flex;
    flex-wrap: wrap;
    height: 560px;
}
.picture {
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px;
    cursor: pointer;
    width: 230px;
    height: 240px;
}
.picture img {
    width: 100%;
    border-radius: 10% 10% 0 0;
    object-fit: cover;
    height: 60%;
    box-sizing: border-box;
}
.show {
    margin-bottom: 15px;
    margin-top: 40px;
    cursor: pointer;
    padding-left: 18px;
    font-size: 18px;
    font-weight: bold;
}
.principal p {
    font-size: 14px;
    
}
.description {
    padding: 7px;
}
.description p {
    padding-top: 5px;
    margin: 0 0 0 1px;
}
.description h3 {
    margin: 0;
    font-size: 19px;
}
.stars {
    margin: 2px;

}
 .bleu {
    color: blue;
    font-size: 13px;
    padding-top: 10px;
}
.gris {
    color:#F2F2F2;
    font-size: 13px;
    padding-top: 10px;
}
         /* ............ aside................ */
.second {
    background: #F2F2F2;
    border-radius: 20px;
}
.popular {
    flex-direction: column;
    width: 450px;
    background: #f2f2f2;
    border-radius: 20px;
}
.titleaside {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: baseline;
}
.titleaside h2 {
    display: flex;
    margin: 0;
    padding: 14px;
}
.titleaside i {
    font-size: 25px;
    padding-right: 20px;
}
.mostpopular {
    display: flex;
    background: #fff;
    margin: 12px;
    height: 170px;
    border-radius: 27px 20px 20px 27px;
    box-shadow: 3px 3px 20px 3px;
    cursor: pointer;
    object-fit: cover;
    padding: 1px;
    margin-bottom: 30px;
}

.mostpopular img {
    margin: 5px;
    height: 158px;
    width: 147px;
    margin-top: 5px;
    border-radius: 20px 0 0px 20px;
}
.detail {
    font-size: 15px;
    padding-bottom: 50px;
}
.detail h3 {
    font-size: 19px;
}
.detail p {
    padding-top: 0px;
}
/* ...............3rd section Activités à Marseille................*/
.activity {
    margin-top: 50px;
    padding-bottom: 80px;
}


.container h2 {

}
.marseille {
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
}
.big, .small {
    margin: 15px;
    cursor: pointer;
    object-fit: cover;
    height: 500px;
    width: 100%;
}
.big {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 15px 15px 15px 15px;
 }
a {
    text-decoration: none;
}
.pic {
    border-radius: 15px 15px 15px 15px;
    margin: 0px;
    font-size: 12px;
    color: black;
}


.big img {
    border-radius: 15px 15px 0px 0px;
    height: 450px;
    width: 100%;
    object-fit: cover;
} 

.big h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}


.fort {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    height: 265px;
    margin-bottom: 30px;
}  
.fort img {
    height: 215px;
    width: 100%;
} 
 .small img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
 
 .fort  h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}
.frioul {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    height: 205px;
}
.frioul img {
    height: 155px;
    width: 100%;
}

.frioul h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}

.notredame{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px 0px;
    height: 235px;
    margin-bottom: 30px;
}
.notredame img {
    height: 185px;
    width: 100%;
}

.notredame h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}
figure.pic.parclong {
    width: 350px;
    box-shadow: 0px 0px 5px 0px;
    height: 235px;
}
.parclong img {
    height: 185px;
    width: 100%;
}
.parclong h3 {
    margin: 0;
    margin-left: 10px;
    padding: 10px;
}

/*         4th section footer      */
#footer {
    background: #f2f2f2;
    padding: 40px 0;
    width: 100%;
}
#footer .container {
    display: flex;
}
.aboutit {
  padding-bottom: 40px;
  padding-right: 120px;

}
#footer h4 {
  padding-left: 40px;
}
li {
  padding-top: 10px;
  list-style-type: none;
}
.hosting {
    padding-bottom: 40px;
    padding-right: 120px;
}
.assistance {
    padding-bottom: 40px;
    padding-right: 120px;
}

/* .................. Version mobile....................   */

@media screen and (max-width: 500px) {
 body {

 }
  

header {

}

 header .container {
    display: flex;
}


/* logo */

.logo 
{  
    order: 1;
    margin-right: 30px;
    padding: 7px 50px 0 2px;
    width: 100px;
}


.ancres {
    order: 3;
    margin: 0;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}
.both {
    margin: 0;
    padding-bottom: 18px;
    border-bottom: 3px solid blue;
    border-top: none;
    padding-right: 5px;
    width: 50%;
}
.ancres .both {
  border-bottom: 3px solid blue
}
.login {
    order: 2;
    margin-top: 15px;
    display: grid;
    flex-grow: 1;
    text-align: right;
}
/*         1st section       */
     /* search */


.textsearch {
  width: 200px;
 
}
 /* filters */

.titlef{
  width: 100%; 
}

/* .......  2nd section Hebergement à Marseille ...... */

.principal .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.first{
    margin-right: 0;
    margin-bottom: 0;
    width: 98%;
}
.photos {
    height: auto;
}
.picture{
    width: 97%;
}

         /* ............ aside................ */
.second {
    margin-bottom: 30px;
}
.popular {
    width: 98%;
}
        /* ....3rd section Activités à Marseille......*/
.activity{
  margin: 0;
  padding-top: 20px;
}
.marseille {
    flex-wrap: wrap;
}
.big, .small {
    height: 100%;
    width: 100%;
}
.big {
    box-shadow: 0px 0px 5px 0px;
    border-radius: 15px 15px 15px 15px;
 }

.big img {
    height: 100%;
} 


.fort {
    height: 100%;
}  

.frioul {
   height: 100%;
}
.frioul img {
    height: 100%;
}  

.notredame{
    height: 100%;
}

figure.pic.parclong {
    width: 100%;
    height: 100%;
}



/*         4th section footer      */

#footer .container {
    display: flex;
    flex-direction: column;
}
/*         for trying      */

